@import url("https://fonts.googleapis.com/css?family=Sora&display=swap|Danfo|Lato|Inconsolata|Roboto+Mono|Source+Code+Pro|Ubuntu+Mono|Cutive+Mono");


* {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
}

pre {
    margin: 0;
    padding: 0;
}

input:not([type="file"]),
select {
    border: 1px solid #a1a6af;
    border-radius: 4px;
    background-color: #fff;
    height: 23px;
}

input:not([type="file"]) {
    padding: 0 5px;
    vertical-align: middle;
    font-size: 14px;
}

input:disabled {
    background: rgba(100, 100, 100, 0.1);
}

input:focus,
select:focus {
    border-color: #7b7d82;
    outline: none;
}

/* @font-face {
    font-family: 'Sora';
    src: url('../../www/assets/sora-otf/Sora-Regular.otf') format('truetype');
    font-weight: 400;
  }
  
  @font-face {
    font-family: 'Sora';
    src: url('../../www/assets/sora-otf/Sora-Bold.otf') format('truetype');
    font-weight: 700;
  } */
  
  .danfo-regular {
    font-family: "Danfo", serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    font-variation-settings:
      "ELSH" 0;
  }
.sora-regular {
  font-family: "Sora", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}
